@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

@import "tailwindcss";

:root {
  --custom-gradient: linear-gradient(
    92.62deg,
    rgba(34, 34, 34, 0.6) -5.03%,
    rgba(223, 167, 165, 0.6) 49.44%,
    rgba(173, 124, 111, 0.6) 108.64%
  );
}

.bg-button-gradient {
  background: var(--custom-gradient);
}
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
.font-abeezee {
  font-family: "ABeeZee", sans-serif;
}
.bg-home {
  background-color: #242424;
}
.px-global {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .px-global {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1024px) {
  .px-global {
    padding-left: 65px;
    padding-right: 65px;
  }
}
